<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Regression" >
<test name="IT">
<parameter name="website" value="https://www.amazon.com/"></parameter>
<parameter name="browser" value="Edge"></parameter>
<classes>
<class name="Demo.SeleniumMentoring.AmazonTest">
</class>
</classes>
</test>
</suite>